.button {
  background-color: white;
  color: firebrick;
  font-size: 14px;
  border-radius: 5px;
  transition: 0.2s;
  margin-bottom: 5px;
  white-space: nowrap;
  margin-left: 20px;
}

.button:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  .button {
    display: none;
  }
}
