.handlers {
  display: flex;
  justify-content: space-between;
}

.post {
  /*min-width: 670px;*/
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.newPostsBorder {
  height: 38px;
  border-top: 1px solid firebrick;
  border-bottom: 1px solid firebrick;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newPostsBorder img {
  width: 18px;
}


