.handlers {
  display: flex;
  justify-content: space-between;
}

.post {
  min-width: 670px;
  flex: 1;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.newPostsBorder {
  padding: 10px;
  border-top: 1px solid firebrick;
  border-bottom: 1px solid firebrick;
  text-align: center;
  margin-bottom: 30px;
}
