.app {
  font-family: "Open Sans", sans-serif;
  max-width: 1000px;
  padding: 30px 0;
  margin: auto;
}

textarea {
  border: none;
  width: 100%;
  resize: vertical;
  outline: none;
}

button {
  border: none;
  cursor: pointer;
  outline: none;
}


.editorClassName, .editorClassName::placeholder {
  color: black;
  line-height: 34px;
  font-family: "PT Serif", serif;
}

/*.transition-enter {*/
/*  opacity: 0;*/
/*  transform: translate(100%);*/
/*}*/
/*.transition-enter-active {*/
/*  opacity: 1;*/
/*  transform: translate(0);*/
/*  transition: 200ms;*/
/*}*/
/*.transition-exit {*/
/*  opacity: 1;*/
/*  transform: translate(0);*/
/*}*/
/*.transition-exit-active {*/
/*  opacity: 0;*/
/*  transform: translate(100%);*/
/*  transition: 200ms ease-out;*/
/*}*/
/*.transition-exit-done {*/
/*  opacity: 0;*/
/*}*/

.transition-enter {
  width: 0;
  overflow-x: hidden;
  transition: .2s;
}
.transition-enter-active {
  width: 100%;
  overflow-x: auto;
}
.transition-exit {
  width: 100%;
  overflow-x: auto;
}
.transition-exit-active {
  width: 0;
  overflow-x: hidden;
  transition: .2s;
}
