.card {
  margin: auto auto 30px auto;
  border-radius: 10px;
  box-shadow: 0 0 25px 0 whitesmoke;
  padding: 20px;
  background-color: white;
  border: 5px solid white;
  width: 100%;
  box-sizing: border-box;
}

.importantCard {
  border: 5px solid firebrick;
}

@media only screen and (max-width: 768px) {
  .card {
    padding: 10px;
    margin-bottom: 10px;
  }
}