.postCreator {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 whitesmoke;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  transition: .3s;
  border: 5px solid white;
}

.importantPostCreator {
  border: 5px solid firebrick;
}

.postCreator:hover {
  box-shadow: 0 0 10px 0 grey;
}

.title, .title::placeholder {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.content, .content::placeholder {
  color: black;
  line-height: 34px;
  font-family: "PT Serif", serif;
}

.time {
  margin-bottom: 10px;
  font-size: 12px;
  color: lightgray;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.cancel, .add {
  padding: 10px;
  transition: .2s;
  border-radius: 5px;
}

.cancel {
  background-color: whitesmoke;
  margin-right: 10px;
  color: firebrick;
}

.add {
  background-color: mediumseagreen;
  color: white;
}

.cancel:hover {
  background-color: firebrick;
  color: white;
}

.add:hover {
  background-color: green;
  color: white;
}
