.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-bottom: 10px;
  height: 25px;
}

.backgroundOff {
  width: 40px;
  height: 25px;
  border-radius: 50vh;
  padding: 0 3px;
  box-sizing: border-box;
  border: 1px solid #c1c1c1;
  background: linear-gradient(to bottom, #afafaf, #dcdcdc);
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 3px;
}

.backgroundOn {
  background: linear-gradient(to bottom, #1768b4, #218bf0);
  justify-content: flex-end;
}

.round {
  height: 18px;
  width: 18px;
  border-radius: 50vh;
  background: linear-gradient(to bottom, #fdfdfd, #f5f5f5);
}
