.background {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  overflow-x: hidden;
  background-color: #00000055;
}

.postEditor {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 grey;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  transition: 0.3s;
  border: 5px solid white;
  max-width: 1000px;
  box-sizing: border-box;
}

.importantPostEditor {
  border: 5px solid firebrick;
}

.postEditor:hover {
  box-shadow: 0 0 10px 0 grey;
}

.title,
.title::placeholder {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.content,
.content::placeholder {
  color: black;
  line-height: 34px;
  font-family: "PT Serif", serif;
}

.time {
  margin-bottom: 10px;
  font-size: 12px;
  color: lightgray;
}

.handlers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons {
  display: flex;
}

.loader {
  width: 24px;
  margin: calc(-38px + 6px) auto;
}

.loader {
  width: 24px;
  margin: calc(-38px + 8px) auto;
}

.cancel,
.edit {
  padding: 10px;
  transition: 0.2s;
  border-radius: 5px;
}

.cancel {
  background-color: whitesmoke;
  margin-right: 10px;
  color: firebrick;
}

.cancel:hover {
  background-color: firebrick;
  color: white;
}

.edit {
  background-color: mediumseagreen;
  color: white;
}

.edit:hover {
  background-color: green;
  color: white;
}

.edit[disabled] {
  opacity: 0.6;
  cursor: initial;
}

.edit[disabled]:hover {
  background-color: mediumseagreen;
}
