.postEditor {
  border-radius: 10px;
  box-shadow: 0 0 10px 0 grey;
  padding: 20px;
  background-color: white;
  margin-bottom: 20px;
  transition: 0.3s;
  border: 5px solid white;
  max-width: 1000px;
  box-sizing: border-box;
}

.importantPostEditor {
  border: 5px solid firebrick;
}

.postEditor:hover {
  box-shadow: 0 0 10px 0 grey;
}

.time {
  margin-bottom: 10px;
  font-size: 12px;
  color: lightgray;
}

.handlers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.buttons {
  display: flex;
}
