.auth {
  margin: calc(50vh - 134px) auto;
  width: 440px;
}

.input {
  border: 1px solid lightgray;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.loader {
  width: 24px;
  height: 24px;
  margin: calc(-48px + 12px) auto;
}

.error {
  color: red;
  font-size: 13px;
  font-weight: lighter;
  margin-top: 60px;
}

.button, .button[disabled] {
  background-color: #1976d2;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  transition: .5s;
  box-shadow: grey 0 2px 2px 0;
}

.button[disabled] {
  opacity: .6;
  cursor: initial;
  color: #1976d2;
}

.button[disabled]:hover {
  background-color: #1976d2;
}

.button:hover {
  background-color: #14457E;
}
